@import "tailwindcss";
@import "tw-animate-css";



.container{
    @apply p-5
}

.bg-primary {
    @apply bg-[#000000];
}

.text-primary {
    @apply text-[#000000];
}
.bg-secondary {
    @apply text-[#FFFFFF];
}

.text-secondary {
    @apply text-[#FFFFFF];
}
.text-p-gray {
    @apply text-[#616060]  text-lg md:text-2xl;
}
.text-p-small-gray {
    @apply text-[#616060]  text-sm md:text-base ;
}
.text-p-gray{
    @apply text-[#616060];
}
.semiTitles{
    @apply text-[#000000] font-bold text-4xl leading-loose ;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}


.btn-color-dot,
.btn-color-dot:focus,
.btn-color-dot:focus-visible {
    outline: none !important;
    box-shadow: none !important; /* Tailwind ring uses box-shadow */
}


.random {
    background-color: rgba(22, 70, 151, 0.53);
}